<div class='container px-5 px-sm-0'>
  <%= render 'layouts/errors', obj: @book %>
  <div class='row'>
    <div class='col-md-3'>
      <h2>User info</h2>
      <%= render 'users/info', user: current_user %>
      <h2 class="mt-3">New book</h2>
      <%= render 'form', book: @book %>
    </div>
    <div class='col-md-8 offset-md-1'>
      <h2>Books</h2>
      <%= render 'index', books: @books%>

      <h2>投稿数の前日比・前週比</h2>
      <table class="table table-hover table-inverse">
        <thead>
          <tr>
            <th>今日の投稿数</th>
            <th>前日の投稿数</th>
            <th>前日比</th>
          </tr>
        </thead>
        <tbody>
          <td><%= current_user.today_books.count %></td>
          <td><%= current_user.yesterday_books.count %></td>
          <% if current_user.yesterday_books.count == 0 %>
            <td>－</td>
          <% else %>
            <td>
              <%= current_user.today_books.count*100 / current_user.yesterday_books.count %>%
            </td>
          <% end %>
        </tbody>
      </table>

      <table class="table table-hover table-inverse">
        <thead>
          <tr>
            <th>今週の投稿数</th>
            <th>前週の投稿数</th>
            <th>前週比</th>
          </tr>
        </thead>
        <tbody>
          <td><%= current_user.thisweek_books.count %></td>
          <td><%= current_user.lastweek_books.count %></td>

          <% if current_user.lastweek_books.count == 0 %>
            <td>－</td>
          <% else %>
            <td>
              <%= current_user.thisweek_books.count*100 / current_user.lastweek_books.count %>%
            </td>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>